<!DOCTYPE html>
<html lang="en" ng-app="PoliceApp">
<head>

  <!-- CDNs -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
  <script src="//www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
  <script src="//cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
  <!-- <script src="js/filters/complete-status.filter.js"></script> -->

<!-- JS Files -->
  <script src="js/app.js"></script>
  <script src="js/factories/map.factory.js"></script>
  <script src="js/factories/auth.factory.js"></script>
  <script src="js/factories/crime.factory.js"></script>
  <script src="js/controllers/map.controller.js"></script>
  <script src="js/controllers/crime.controller.js"></script>
  <script src="js/controllers/auth.controller.js"></script>

  <link href="css/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">

  <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body ng-controller="AuthController as auth">
  <section class="top">
    <h1>Crime in an Area</h1>

    <nav>
      <a ui-sref="home" class="btn btn-primary">Home</a>
      <a ui-sref="crime" class="btn btn-primary">Crimes</a>
      <a ui-sref="map" class="btn btn-primary">Map</a>
    </nav>

    <img ng-src="./css/images/metpolice-logo1.png" class="policeLogo">
    <img ng-src="./css/images/metpolice-logo2.png" class="policeLogo">

    <div ng-if="auth.user">
          <p class="email">
          	Welcome {{ auth.user.email }}!, remember crime is bad!
          </p>
          <p>
            <a href="#" ng-click="auth.signOut()" class="btn btn-primary">Sign Out</a>
          </p>
        </div>

        <div ng-if="!auth.user">
          <p>Welcome new person!!</p>

          <a ui-sref="login" class="btn btn-primary">Sign In</a> to sign in.
          <br>
          <a ui-sref="signup" class="btn btn-primary">Register</a> to register and see our secrets!
      </div>
  </section>

  <section ng-controller="MapController as map" ui-view class="bottom">

  </section>

</body>
</html>
