section {
  padding: 20px;
}
h1 {
  color: white;
}
.showCrime {
  padding: 50px;
  padding-top: 0px;
}
.locationForm p {
  display: inline-block;
}
* {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
  padding: 10px;
}
body {
  background-color: #1b4080;
  color: white;
}
.policeLogo {
  height: 75px;
  padding: 0px;
  position: fixed;
  top: 0;
  left: 90px;
}
#PLogo {
  height: 75px;
  padding: 0px;
  position: fixed;
  top: 0;
  left: 0;
}
.googleButton {
  border: 0px;
  height: 45px;
  padding: 0px;
  background-color: #1b4080;
}
.submitButton {
  height: 30px;
  padding-top: 1px;
  background-color: #1b4080;
  color: white;
}
input {
  height: 30px;
  border-radius: 5px;
}
.top {
  padding-bottom: 0px;
}
.bottom {
  padding-top: 0px;
}
.officer-bob {
  height: 200px;
  display: none;
}
ol {
  display: inline-block;
}
.angular-google-map-container { height: 400px; }
