section {
  padding: 20px;
}
h1 {
  color: white;
}
.showCrime {
  padding: 50px;
  padding-top: 0px;
}
.locationForm p {
  display: inline-block;
}
* {
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
  text-align: center;
  padding: 10px;
}
body {
  background-color: #1b4080;
  color: white;
  padding: 0;
  margin: 0;
  text-shadow: 1px 1px 10px #000;
}

.bg {
  box-sizing: border-box;
  background: url('images/police-car.jpg') center center no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  position: absolute;
  border: 10px solid #1b4080;
  background-color: rgba(255,255,255,.2);
  background-blend-mode: overlay;
}
.policeLogo {
  height: 75px;
  padding: 0px;
  position: absolute;
  top: 10px;
  left: 95px;
}
#PLogo {
  height: 75px;
  padding: 0px;
  position: absolute;
  top: 10px;
  left: 5px;
}
.googleButton {
  border: 0px;
  height: 45px;
  padding: 0px;
  background-color: transparent;
}
.submitButton {
  height: 30px;
  padding-top: 1px;
  background-color: #1b4080;
  color: white;
}
button {
  height: 30px;
  padding-top: 1px;
  background-color: #1b4080;
  color: white;
}
input {
  height: 30px;
  border-radius: 5px;
}
.top {
  padding-bottom: 0px;
}
.bottom {
  padding-top: 0px;
}
.officer-bob {
  height: 200px;
  /*display: none;*/
}
ol {
  display: inline-block;
}
.angular-google-map-container { height: 400px; }

.navbar {
  position: relative;
  height: 100px;
  background-color: rgba(116, 139, 178,0.8);
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  padding-left: 90px;
}
.navbar-brand {
  color: white !important
}
.loginPageContainer {
  background-color: rgba(116, 139, 178,0.8);
  margin: 10px;
  border: 2px solid white;
}
p {
  font-size: 20px;
}
