<section ng-controller="CrimeController as crime" class="showCrime">
  <h2>Crimes</h2>

    <div class="officer-bob">
      <img ng-src="./css/images/officer-bob.png" class="officer-bob">
    </div>

    <form class="locationForm">
      <p>Enter location: </p> <input ng-model="map.placeName">
      <button type="submit" ng-click="map.getPlaceDetails()" class="googleButton">
        <img ng-src="./css/images/google-marker.png" class="googleButton">
      </button>
    </form>

    <!-- <div id="map-canvas">
      <google-maps
        lat="51"
        lng="-0.3"
        apikey="GMS_API_KEY">

      </google-maps>
    </div> -->


<section >
  <form>

    <div ng-repeat="place in map.maps track by $index">
      <p>Type of crime: <input ng-model="crime.crimeName" >
      </p>

      <p><strong>Address:</strong> {{place.formatted_address}}</p>


      <input ng-model="place.geometry.location.lat" value="{{place.geometry.location.lat}}" type="hidden">

      <input ng-model="place.geometry.location.lng" ng-value="place.geometry.location.lng" type="hidden">

      <p><strong>Crime Date:</strong>
      <input ng-model="crime.crimeDate" placeholder="2017-01">
      <input type="submit" ng-click="crime.getCrimeDetails(place.geometry.location.lat, place.geometry.location.lng)" class="submitButton"></p>

    </div>

  </form>

  <div ng-repeat="place in map.maps track by $index">
    <p>

      <!-- <li ng-repeat="c in crime.crimes | filter:searchBox:c.category" ng-show="{{ c.category === ''}}">
         {{ c.category }}
       </li> -->

        <div ng-repeat="c in crime.crimes | limitTo: 1 track by $index" >

         <p ng-show="{{ c.category === 'anti-social-behaviour'}}">
            There has been <strong>{{ crime.crimes.length }}</strong>Anti Social Behaviour related crimes in {{ place.formatted_address }} in {{ c.month}}
        </p>
         <p  ng-show="{{ c.category === 'bicycle-theft'}}">
            There has been <strong>{{ crime.crimes.length }}</strong>Bicycle Theft related crimes in {{ place.formatted_address }} in {{ c.month}}
        </p>
         <p  ng-show="{{ c.category === 'burglary'}}">
            There has been <strong>{{ crime.crimes.length }}</strong>Burglary related crimes in {{ place.formatted_address}} in {{ c.month}}
        </p>
         <p ng-show="{{ c.category === 'criminal-damage-arson'}}">
            There has been <strong>{{ crime.crimes.length }}</strong>Criminal Damage Arson related crimes in {{ place.formatted_address}} in {{ c.month}}
        </p>
         <p ng-show="{{ c.category === 'drugs'}}">
            There has been <strong>{{ crime.crimes.length }}</strong>Drugs related crimes in {{ place.formatted_address}} in {{ c.month}}
        </p>
         <p  ng-show="{{ c.category === 'other-theft'}}">
            There has been <strong>{{ crime.crimes.length }}</strong>Other Theft related crimes in {{ place.formatted_address}} in {{ c.month}}
        </p>
         <p  ng-show="{{ c.category === 'possession-of-weapons'}}">
            There has been <strong>{{ crime.crimes.length }}</strong>Possession of Weapons related crimes in {{ place.formatted_address}} in {{ c.month}}
        </p>
         <p  ng-show="{{ c.category === 'public-order'}}">
            There has been <strong>{{ crime.crimes.length }}</strong>Public Order related crimes in {{ place.formatted_address}} in {{ c.month}}
        </p>
         <p ng-show="{{ c.category === 'robbery'}}">
            There has been <strong>{{ crime.crimes.length }}</strong>Robbery related crimes in {{ place.formatted_address}} in {{ c.month}}
        </p>
         <p ng-show="{{ c.category === 'shoplifting'}}">
            There has been <strong>{{ crime.crimes.length }}</strong>Shoplifting related crimes in {{ place.formatted_address}} in {{ c.month}}
        </p>
         <p ng-show="{{ c.category === 'theft-from-the-person'}}">
            There has been <strong>{{ crime.crimes.length }}</strong>Theft from the Person related crimes in {{ place.formatted_address}} in {{ c.month}}
        </p>
         <p  ng-show="{{ c.category === 'vehicle-crime'}}">
            There has been <strong>{{ crime.crimes.length }}</strong>Vehicle Crime related crimes in {{ place.formatted_address}} in {{ c.month}}
        </p>
         <p  ng-show="{{ c.category === 'violent-crime'}}">
            There has been <strong>{{ crime.crimes.length }}</strong>Violent Crime related crimes in {{ place.formatted_address}} in {{ c.month}}
        </p>
         <p  ng-show="{{ c.category === 'other-crime'}}">
            There has been <strong>{{ crime.crimes.length }}</strong>Other Crime related crimes in {{ place.formatted_address}} in {{ c.month}}
        </p>
      </div>

      <ui-gmap-google-map ng-if="crime.showMap" center="crime.map.center" zoom="crime.map.zoom" options= "crime.map.options">
        <ui-gmap-marker ng-repeat="marker in crime.crimes" coords="marker.location" idkey="marker.id">
        </ui-gmap-marker>
      </ui-gmap-google-map>
    </p>
  </div>

</section>

</section>
